@font-face {
    font-family: "Acme";
    src: url("assets/fonts/Acme-Regular.ttf") format("truetype");
  }
@font-face {
  font-family: "Quote";
  src: url("./assets/fonts/CursiveSerif.ttf") format("truetype");
}
@font-face {
  font-family: "SugarSnow";
  src: url("./assets/fonts/SugarSnow.ttf") format("truetype");
}
@font-face {
  font-family: "Typewriter";
  src: url("./assets/fonts/Justink.ttf") format("truetype");
}
@font-face {
  font-family: "Dufanthe";
  src: url("./assets/fonts/Dufanthe.ttf") format("truetype");
}

body {
    background-color: #2A363B;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

#poster {
    width: 750;
    height: 550;
    background-color: #99B898;
    border: 1px #2A363B solid;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 35px;
    position: relative;
    display: flex;
    flex-direction: column;
  }
#poster .Heading{
  padding-bottom: 30px;
  margin: auto;
  height: 5%;
  text-align: center;
  color:  #2A363B ;
  font-family: "SugarSnow", sans-serif;
  font-size: 50px;
}
#poster .Heading p{
  margin: auto;
  padding-top: 30px;
}


#mainposter{
  width: auto;
  height: 80%;
  display: flex;
  flex-direction: column;
}
#mainposter .up{
  width: auto;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#mainposter .up h1{
  color:  #2A363B ;
  font-family: "Typewriter", serif;
  padding-top: 20;
  font-size: 28px;
  text-align: center;
}
#mainposter .down{
  width: auto;
  height: 75%;
  display: flex;
  flex-direction: column;
}
#mainposter .down .Lft{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
#mainposter .down .Lft .L{
  width: 30%;
  height: 100%;
}
#mainposter .down .Lft .L .hidebox{
  width: 400px;
  height: 400px;
  background-color: #2A363B;
  left: -400;
  bottom: 300;
  position: absolute;
}
#mainposter .down .Lft .L .Garbage1{
  width:135px;
  padding-top: 0px;
  padding-left: 0px;
  position: absolute;
  left: -200;
  top: 0;
}
#mainposter .down .Lft .L .trashcan2{
  width:180px;
  padding-top: 100px;
  padding-left: 10px;
  position: absolute;
  transform-origin: 80% 100%;
}
#mainposter .down .Lft .L .trashcan1{
  width:180px;
  padding-top: 101px;
  padding-left: 10px;
  position: absolute;
  transform-origin: 85% 50%;
}
.play-now{
  text-decoration: none;
}
.link-box {
  margin: auto;
  margin-top: 255;
  border: 1px solid #2A363B;
  background-color: #2A363B;
  border-radius: 5px;
  width: 130px;
  height: 40px;
  text-align: center;
}
.link-box p{
  margin: auto;
  font-family: "Acme", sans-serif;
  font-size: 30px;
  color: #2A363B;
  color: #99B898;
}

#mainposter .down .Lft .R{
  width: 70%;
  height: 100%;
}
#mainposter .down .Lft .R p{
  margin-top: 15px;
  margin-right: 35px;
  font-size: 32px;
  text-align: center;
  color:  #2A363B ;
  font-family: "Dufanthe", sans-serif;
}
.People {
  width: 450px;
  padding-top: 10px;
  padding-left: 20px;
}

#quote{
  width: auto;
  padding-left: 20px;
  margin-bottom: 20px;
  height: 15%;
  display: flex;
  flex-direction: row;
}
#quote .text{
  width: 75%;
  text-align: center;
  color:  #2A363B;
  font-family: "Quote", sans-serif;
}
#quote .text p{
  margin: auto;
  padding-top: 15px;
  font-size: 28px;
}
#quote .text #name{
  font-size: 15px;
  padding-left: 350px;
  padding-top: 0;
}
#quote .image{
  padding-left: 15px;
  width: 25%;
}
#quote .image img{
  height: 100%;
}